.btn{
    font-family: Playfair Display;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: $therd-color;
    background-color: $white-color;
    border: 1px $therd-color solid;
    padding-top: 20px;
    padding-bottom: 21px;
    padding-left: 49px;
    padding-right: 48px;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
